.gaming-button, .music-button, .tech-button{
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}
.is-toggle{
    background-color: rgb(240, 240, 240);
    color: black;
    cursor: pointer;
}